
/* Your CSS Code here. */
.moviePic img{
    height: 500px;
    width:100%;
    opacity: 100px;
}
.movieDetail{
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    /* color: red; */
}